/* Header.css */

.custom-navbar {
    background-color: #2c3e50; /* Darker background color */
    border-bottom: 3px solid #3498db; /* Add a blue border to enhance the look */
}

.custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ecf0f1; /* Slightly lighter text for branding */
    transition: color 0.3s ease-in-out;
}

.custom-navbar .navbar-brand:hover {
    color: #3498db; /* Blue effect on hover */
}

.custom-link {
    color: #ecf0f1;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

.custom-link:hover {
    color: #f39c12; /* Orange on hover */
}

.custom-button {
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.custom-button:hover {
    background-color: #f39c12; /* Orange background on hover */
    border-color: #f39c12;
}
