/* Global Styles */
.find-password-card {
    background: #ffffff; /* Nền trắng tinh tế */
    border-radius: 20px; /* Bo tròn hơn */
    padding: 40px;
    margin-top: 8rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.find-password-btn {
    background-color: #007bff;
    border: none; /* Remove default border */
    color: #fff; /* White text color */
    border-radius: 50px; /* Rounded corners */

    font-size: 18px; /* Larger text size */
    font-weight: 400; /* Bold text */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.find-password-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.find-password-btn:disabled {
    background-color: #6c757d; /* Grey color for disabled state */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    box-shadow: none; /* Remove shadow */
}